extends layout

block content
  h1= title
  p Welcome to #{title}
  p
    a.btn.btn-primary(href='/new') New message
  ul
    each message in messages
      li.mb-3
        p #{message.user} 
            p #{message.added}
        a(href=) #{message.text}

    else
      li There are no messages.

  